html ,body {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E6EAF4;
    margin: 95px 320px;
}
#gameContainer {
    width:560px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px auto;
    position: relative;
    bottom: 133px;
    box-sizing: content-box;
    background-image: url("images/background.png");
    background-repeat:no-repeat ;
}

.block {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    
}

.row {
    display: flex;
    box-sizing: border-box;
}

.row :last-child {
    border-right: none;
}

#gameContainer :nth-child(25) .block {
    border-bottom: none;
}

.border {
    border: 1px solid white;
}

#score {
    background-image: url("images/backgroundStuff.png");
    color: white;
    font-size: 19px;
    width: 50px;
    height: 50px;
    padding: 50px;
    position: relative;
    right: 100px;
    top:-346px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#scoreBoard {
    color: white;
    font-size: 22px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    margin-bottom: 20px;
    color: white;
    font-size: 19px;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nextTetromino {
    background-position: 50% 50%;
    background-repeat:no-repeat ;
    background-color:rgb(6, 9, 24);
    width: 150px;
    height: 150px;
    position: relative;
    right: 100px;
    top: -284px;
    border-radius: 5px;
    margin-bottom: 80px;
}

#gameStuff {
   
}



#wrapper {
    display: contents;
}

#content {
    width: 80%;
    height: 736px;
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
}

.orderNode {
    color: white;
    margin-right: 100px;
    margin-left: 10px;
    font-size: 20px;
}

.nameNode {
    color: white;
   display: flex;
   flex: 1;
   font-size: 20px;
   align-items: center;
}

.scoreNode {
    color: white;
    display: flex;
    font-size: 20px;
    flex: 1;
    justify-content: flex-end;
    margin-right: 20px;
}

.rowLeaderboard {
    display: flex;
    margin-bottom: 48px;
}


